/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #37476b;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1, h2 {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
    border: 5px solid #ab3588;
}

h1 {
    color: #ab3588;
}

h2 {
    color: lightskyblue;
    padding: 5px;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

ul li {
    display: inline-block;
    background-color: rgba(203, 210, 211, 0.32);
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    width: auto;
    text-align: center;
}

a {
    color: #ab3588;
    text-decoration: none;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

p {
    text-align: center;
}

c {
    color: #594069;
    font-style: italic;
}

.custom-list {
    list-style-type: disc;
    padding-left: 40px;
}

.custom-list li {
    margin-bottom: 10px;
}

.left {
    text-align: left;
}

.profile_pic {
    display: block;
    margin: 20px auto;
    border: 5px solid #be8ec7;
    padding: 10px;
    border-radius: 20px;
}

.center {
    text-align: center;
}

.centered-link {
    text-align: center;
    margin-top: 20px;
}

.centered-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #be8ec7;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.centered-link a:hover {
    background-color: #a06f;
}

form {
    text-align: center;
}

.form-inline {
    display: flex;
    justify-content: space-between; /* Änderung: Platz zwischen Elementen */
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin-bottom: 5px;
}

input[type="text"] {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.btn {
    padding: 10px 15px;
    background-color: #be8ec7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #a06f;
}

.my-books-title {
    color: #ab3588;
    font-family: Arial, sans-serif;
    text-align: center;
}

.list-group-item {
    display: flex;
    align-items: center;
}

.list-group-item img {
    margin-right: 10px;
}

.pagination {
    justify-content: center;
}

.form-inline .form-group {
    margin-right: 10px;
}

/* Angepasste Stile für Buttons */
.button-group {
    display: flex;
    justify-content: flex-end; /* Buttons am rechten Rand ausrichten */
}

.button-group .btn {
    margin-left: 10px; /* Abstand zwischen den Buttons */
}

/* Stile für spezifische Buttons */
.edit-btn {
    background-color: #FFA500; /* Orange */
}

.delete-btn {
    background-color: #594069; /* Lila */
}

/* Stile für "Add a Book"-Button */
.add-book-container {
    display: flex;
    justify-content: center; /* Zentriere den Button horizontal */
    margin-top: 20px;
}

.add-book-btn {
    padding: 10px 20px;
    background-color: #be8ec7;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-book-btn:hover {
    background-color: #a06f;
}
