<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Book List</h1>
    <ul>
        {% for book in books %}
        <li>
            {% if book.image %}
            <img src="{{ book.image }}" alt="{{ book.title }} cover" style="width:100px;height:auto;">
            {% endif %}
            <strong>{{ book.title }}</strong> by {{ book.author }} ({{ book.publisher }})
            <form action="/delete/{{ book.id }}" method="post" style="display: inline;">
                <button type="submit">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <div class="centered-link">
        <a href="/add">Add a Book</a>
    </div>
</body>
</html>


