body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    margin-bottom: 100px;
    background-color: #007BFF;
    border: none;
}

h1 {
    text-align: center;
}

.btn-primary {
    background-color: #007BFF;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Custom Button Styles */
.btn-play {
    background-color: white;
    border-color: #56c8b3;
    color: black;
}

.btn-play:hover {
    background-color: #b7e7de;
}

.btn-edit {
    background-color: white;
    border-color: #4dcaff;
    color: black;
}

.btn-edit:hover {
   background-color: #b3e8ff;
}

.btn-delete {
    background-color: white;
    border-color: #e1587d;
    color: black;
}
.btn-delete:hover {
    background-color: #f2b8c7;
}

.search-btn {
    background-color:#007BFF;
    border-color: #007BFF;
    color: white;
}

.search-btn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    color: white;
}